<main>
    <!-- <app-cards cardLabel="" gameType="" gamePrice="" gameCover=""></app-cards> --> <!-- Cards Scafold -->

    
    <app-cards cardLabel="Digital" gameType="PS4 | PS3 | PC" gamePrice="R$ 299.99" gameCover="assets/bt-1.jpg"></app-cards>
    <app-cards cardLabel="Physical" gameType="PS5 Exclusive" gamePrice="R$ 349.99" gameCover="assets/bt-4.jpg"></app-cards>
    <app-cards cardLabel="New" gameType="PS5 | PC" gamePrice="R$ 599.99" gameCover="assets/bt-hardline.jpg"></app-cards>
    <app-cards cardLabel="OLD" gameType="PSVita" gamePrice="R$ 49.99" gameCover="assets/bt-bad-company-2.jpg"></app-cards>
    <app-cards cardLabel="Digital" gameType="PS5 | PS4 | PC" gamePrice="R$ 299.99" gameCover="assets/bt-5.jpg"></app-cards>
    <app-cards cardLabel="Digital" gameType="PS4 | PS3 | PC" gamePrice="R$ 299.99" gameCover="assets/ac-cover.jpg"></app-cards>
    
</main>