<div class="menu-bar_container">
    <div class="menu-bar_items">
        <div class="menu-bar_logo">
            <a href="">
                <img src="assets/ps-logo.png" alt="">
            </a>
        </div>
        <div class="menu-bar_buttons">
            <ul class="button-list flex">
                <li>
                    <img src="" alt="">
                    <a class="toUpper" href="">buy now</a>
                </li>
                <li>
                    <img src="" alt="">
                    <a class="toUpper" href=""> hire me</a>
                </li>
                <li>
                    <img src="" alt="">
                    <a class="toUpper" href="">don't think twice</a>
                </li>
            </ul>
        </div>
    </div>
</div>
